

[v-cloak] { display:none }

.level-is-shrinkable .level-left,
.level-is-shrinkable .level-right {
    flex-shrink: 1;
    margin-top: 0;
}

.level-is-shrinkable .level-item
{
    flex-shrink: 1;
}

.is-active .al img {
    filter: grayscale(0%);
}
.al img {
    filter: grayscale(100%);
}

.button.is-link, .button.is-link.is-outlined.is-focused, 
.button.is-link.is-outlined.is-hovered, 
.button.is-link.is-outlined:focus, 
.button.is-link.is-outlined:hover {
    background-color: #3273dc;
    border-color: transparent;
    color: #fff;
}

.button.is-link.is-outlined
{
	color: #3273dc;
	background-color: transparent;
	border-color: #3273dc;
}

.button.is-text.is-outlined {
    background-color: transparent;
    border-color: #4a4a4a;
    color: #4a4a4a;
    text-decoration: underline;
}

.button.is-text.is-outlined.is-focused,
.button.is-text.is-outlined.is-hovered,
.button.is-text.is-outlined:focus,
.button.is-text.is-outlined:hover {
    background-color: #7d7d7d;
    color: #FFFFFF;
    border-color: #7d7d7d;
}

.panel-heading {
    border-radius: 0;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.25;
    padding: .5em 0.75em;
}

.loading-overlay .loading-background {
    background: #D5D5D5;
    background: rgb(213, 213, 213, .5);
}

.loading-overlay .loading-icon::after {
    width: 10em;
    height: 10em;
    border-color: transparent;
    border-top-color: rgb(121, 87, 213);
    border-right-color: rgb(121, 87, 213);
    left: calc(50% - 5em);
}

.is-clickable {
	cursor: pointer;
	cursor: hand;
}

.columns
{ margin: 0 !important; }



.imgFondoLateral {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Marcado DESTACADOS en lista */
.destacado
{
    background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(238,238,238,1) 50%, rgba(255,255,255,1) 100%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #999999;
}

.media.destacado + .media {
    border-top: 0;
    margin-top: 0;
    padding-top: 1rem;
}

.media + .media.destacado {
    border-top: 2px solid #999999;
}

.media.destacado + .media.destacado {
    border-top: 0;
}

@media screen and (max-width:768px) {
 .level-left + .level-right {
  margin-top:.5rem !important;
 }
}


/* Tabs Móvil */
.tabs a
{ padding-left:0; }

label.upload, div.upload-draggable
{ width: 100%; }


/* Ajustes a fila filtros Kendo Grid */
.k-filtercell > span
{
    padding-right: 0;
}

.k-filter-row .k-dropdown-operator
{
    right: 0;
}

.k-grid .k-button
{
    margin: 0;
}

.k-filter-row label > input[type="radio"]
{
    margin-left: 0.5em;
    margin-right: 0.7em;
}
